<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Checkout App</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5-qrcode/2.3.8/html5-qrcode.min.js"></script>
    <script src="script.js"></script>
</head>
<body>
    <select id="camera-select">
        <option value="">Select a camera</option>
    </select>
    <div class="reader" id="qr-code-reader"> </div>
    <ul id="list">

    </ul>
</body>
</html>